.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.product__info {
    padding-left: 20px;
}

.checkoutProduct__buttom {
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-bottom: 15px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}

.checkoutProduct_rating {
    display: flex;
}